.Deck.stacked > .cards > .Card {
  margin-left: -50px;
}

.Deck > .cards {
  transition: margin 0.5s ease-in-out;
}

.Deck.stacked > .cards {
  margin-left: 50px;
}

.Deck > .cards > .Card.row {
  content: '';
  clear:both;
}